	page{
		height: 100%;
		width: 100%;
	}
	.camera-item{
		display: inline-block;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		/* height: 560rpx; */
		position: relative;
	}
	
	.cameraButton{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 10rpx;
	}
	.cameraButtonb{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 12rpx;
		/* position: absolute; */
		bottom: 10rpx;
	}
	.mark{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0; 
		background-color: rgba(0,0,0,0.6);
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: flex-start;
		z-index: 9;
	}
  .sp-item{
		display: inline-block;
		border: 2rpx solid #E7E7E7;
		width: 192rpx;
		height: 64rpx;
		font-weight: 500;
		font-size: 28rpx;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sp-input{
		overflow: hidden;
		background: #ffffff;
		padding-left: 16rpx; 
		border: 6rpx solid #8240FA;
	}
	.mgrButton{
		margin: 0;
		width: 200rpx;
		height: 64rpx;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 28rpx;
		background: #F3F3F3;
	}